.slide-title {
	height: auto;
	width: auto;
	float: none;
	margin: 10px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFF00;
	background-color: #009900;
	border: thick outset #009933;
	display: block;





}
